:root {
    --main-color: #06c;
    --accent-color: #006;

     /* CONTENT */
    --color-body-bg: #f9f7f5;
    --color-text: #444;
    --color-heading-text: #35495e;

     /* LINKS */
    --color-link-text: #39a275;
    --color-link-text-active: --color-text;

     /* INPUTS */
    --color-input-border: gray;

     /* BUTTONS */
    --color-button-bg: --color-link-text;
    --color-button-disabled-bg: green;
    --color-button-text: white;


    /*  GRID */
    --size-grid-padding: 1.3rem;

     /* CONTENT */
    --size-content-width-max: 50rem;
    --size-content-width-min: 25rem;


     /* TOP Navigation */
    --size-top-navigation: 45px;

     /* INPUTS */
    --size-input-padding-vertical: 0.75em;
    --size-input-padding-horizontal: 1em;
    --size-input-padding: calc( --size-input-padding-vertical + --size-input-padding-horizontal_;
    --size-input-border: 1px;
    --size-input-border-radius: 2px;

    /*  BUTTONS */
    --size-button-padding-vertical:  12px;
    --size-button-padding-horizontal: 10px;
    --size-button-padding: 2px;

}